
body {
    position: relative;
}

header {
    display: grid;
    grid-template-columns: 24px 400px 1fr 84px 24px;
    grid-template-areas: 'left-space logo nav account right-space';
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 64px;
    line-height: 64px;
    background-color: #ff4500;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
}
header .logo {
    grid-area: logo;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}
header nav {
    grid-area: nav;
}

header nav li {
    display: inline-block;
    margin-right: 36px;
}

header nav li.on {
    border-bottom: 4px solid white;
    top: 60px;
}

header nav li.a {
    font-size: 1.25em;
    text-decoration: none;
    color: #fff;
}

header .account {
    grid-area: account;
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
}

header .account:hover,
header nav li a:hover {
    opacity: 0.67;
}

main {
  position: relative;
  padding-left: 240px;
  padding-top: 64px;
}
main .aside {
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  width: 240px;
  background-color:#eee;
  border-right:1px solid #d3d3d3;
}
main .aside .option-title {
  padding: 32px 0 0 32px;
  font-size: 1.5em;
  font-weight: 700;
  color: gray;
}
main .aside ul {
  font-size: 1.25em;
  margin: 32px 0;
  line-height: 1.5em;
}
main .aside ul li {
  padding: 8px 34px;
  cursor: pointer;
}
main .aside ul li.on {
  background-color: #ddd;
  color: gray;
}
main .aside ul li:hover {
  color: white;
  background-color: #444;
}
main .content {
  min-height: calc(100vh - 196px);
  background-color: #fafafa;
}
main .content .section.intro {
  padding: 96px 80px;
  background-color: #fff;
  border-bottom: 1px solid #d3d3d3;
  font-size: 1.5rem;
  line-height: 1.3em;
}
main .content .section.intro h1 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 24px;
}
main .content .section.gallery {
  padding: 16px;
}
main .content .section.gallery article {
  display: inline-block;
  margin: 8px;
  padding: 24px;
  background-color:#fff ;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}
main .content .section.gallery article:hover {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.33);
}
main .content .section.gallery article .photo {
  width: 440px;
  height: 320px;
  border-radius: 4px;
  background-size: cover;
}
main .content .section.gallery article .info {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 32px auto;
  grid-template-areas:
    'like author' 
    'like desc';
  margin-top: 16px;
  font-size: 1.2rem;
}
main .content .section.gallery article .info .like {
  grid-area: like;
  text-align: center;
  font-size: 2.4em;
  background-image: url("heart_off.png");
  background-position: 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}
main .content .section.gallery article .info .like:hover {
  opacity: 0.5;
}
main .content .section.gallery article .info .like.on {
  background-image: url("heart_on.png");
}
main .content .section.gallery article .info .author {
  grid-area: author;
  font-weight:700;
  line-height: 32px;
}
main .content .section.gallery article .info .desc {
  grid-area: desc;
  padding: 4px 0;
  color: gray;
}
main .write {
  position: fixed;
  z-index: 2;
  right: 36px;
  bottom: 36px;
}
main .write div {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: #ff4500;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background-image: url("camera.png");
  background-size: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
main .write div:hover {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.75);
}
#photo-1{ background-image:url(photo_1.jpg) }
#photo-2{ background-image:url(photo_2.jpg) }
#photo-3{ background-image:url(photo_3.jpg) }
#photo-4{ background-image:url(photo_4.jpg) }
#photo-5{ background-image:url(photo_5.jpg) }

footer {
  position: relative;
  background-color:#383838;
  padding:64px 0;
  font-size:1.2rem;
  text-align:center;
  z-index: 1;
}
footer ul li {
  display: inline-block;
  padding: 0 48px;
}
footer ul li:not(:last-child) {
  border-right:1px solid gray;
}
footer ul li a {
  color: #fff;
  text-decoration: none
}
footer ul li a:hover {
  opacity: 0.67;
}

